.meal-details{
    padding: 0px 40px 40px 40px;
}

.meal-details .title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.meal-details .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-details .image img{
    width: 100%;
    max-width: 500px;
}

.meal-details .meal-info{
    margin: 10px 0px 10px 0px;
}

.recipe-options{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    margin-top: 15px;
}

.add-to-fav-btn{
    border: none;
    border-radius: 8px;
    background-color: rgb(62, 62, 255);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    justify-self: start;
}

.remove-fav-btn{
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 68, 68);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    justify-self: start;
}

.step-by-step-container{
    grid-column: 3;
    justify-self: end;
}
.step-by-step-btn-on{
    border: none;
    border-radius: 8px;
    background-color: rgb(69, 157, 234);
    color: white;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    height: fit-content;
    /*margin-left: auto;*/
}

.step-by-step-btn-off{
    border: none;
    border-radius: 8px;
    background-color: rgb(89, 89, 89);
    color: white;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    height: fit-content;
    /*margin-left: auto;*/
}

.rating-select{
    grid-column: 2;
    justify-self: center;
}

.comment{
    font-size: 15px;
    font-style: italic;
    /*color: rgb(0, 162, 255);*/
    color: rgb(0, 112, 168);
    background-color: transparent;
}

.step-container{
    position: relative;
    width: 800px;
    min-height: 150px;
    height: fit-content;
    margin-bottom: 50px;
}

.step{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transform: scale(0.95);
    transition: transform 0.5s, opacity 0.5s;
    background-color: rgb(230, 156, 255);
    border-radius: 15px;
    padding: 10px;
    color: black;
    opacity: 0;
    border-width: 2px;
    border-color: rgb(148, 101, 163);
    border-style: solid;
}

.step.active{
    transform: scale(1);
    opacity: 1;
}

.step-by-step-instructions{
    display: flex;
    flex-direction: column;
}

.step-nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.prev-step-btn-available{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: rgb(227, 30, 63);
    color: white;
    box-shadow: 0 6px #999;
}

.prev-step-btn-available:hover{
    background-color: rgb(168, 23, 47);
}

.prev-step-btn-available:active{
    background-color: rgb(168, 23, 47);
    transform: translateY(4px);
    box-shadow: 0 2px #999;
}

.next-step-btn-available{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: rgb(95, 148, 27);
    color: white;
    box-shadow: 0 6px #999;
}

.next-step-btn-available:hover{
    background-color: rgb(73, 113, 21);
}

.next-step-btn-available:active{
    background-color: rgb(73, 113, 21);
    transform: translateY(4px);
    box-shadow: 0 2px #999;
}

.prev-step-btn-unavailable{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: rgb(145, 145, 145);
    opacity: 0.75;
    box-shadow: 0 6px #999;
}

.next-step-btn-unavailable{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: rgb(145, 145, 145);
    opacity: 0.75;
    box-shadow: 0 6px #999;
}
