.meal-details-container{
    position: relative;
}

.meal-details{
    padding: 0px 40px 40px 40px;
}

.meal-details .title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.meal-details .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-details .image img{
    width: 100%;
    max-width: 500px;
}

.meal-details .meal-info{
    margin: 10px 0px 10px 0px;
}

.recipe-options{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    margin-top: 15px;
}

.add-to-fav-btn{
    border: none;
    border-radius: 8px;
    background-color: rgb(62, 62, 255);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    justify-self: start;
}

.remove-fav-btn{
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 68, 68);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    justify-self: start;
}

.step-by-step-container{
    grid-column: 3;
    justify-self: end;
}

.step-by-step-btn-on{
    border: none;
    border-radius: 8px;
    background-color: rgb(69, 157, 234);
    color: white;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    height: fit-content;
    /*margin-left: auto;*/
}

.step-by-step-btn-off{
    border: none;
    border-radius: 8px;
    background-color: rgb(89, 89, 89);
    color: white;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    height: fit-content;
    /*margin-left: auto;*/
}

.rating-select{
    grid-column: 2;
    justify-self: center;
}

.comment{
    font-size: 15px;
    font-style: italic;
    /*color: rgb(0, 162, 255);*/
    color: #0E95AA;
    background-color: transparent;
    width: 100%;
    padding: 10px;
}

.step-container{
    position: relative;
    display: grid;
    grid-template: 1fr / 1fr;
    width: 100%;
    height: fit-content;
    /*margin-bottom: 50px;*/
}

.step{
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    transform: scale(0.95);
    transition: transform 0.5s, opacity 0.5s;
    background-color: #E2CAD0;
    border-radius: 15px;
    color: #141414;
    opacity: 0;
    border-width: 2px;
    border-color: #CDA2AE;
    border-style: solid;
}

.step > b{
    font-size: 20px;
    background: none;
    height: fit-content;    
    width: 100%;
    padding: 10px;
    background-color: #D9B5E3;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #B36BC7;
}

.step.active{
    transform: scale(1);
    opacity: 1;
}

.step-by-step-instructions{
    display: flex;
    flex-direction: column;
}

.step-nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.prev-step-btn-available{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: #913B58;
    color: white;
    box-shadow: 0 6px #999;
}

.prev-step-btn-available:hover{
    background-color: #742F46;
}

.prev-step-btn-available:active{
    background-color: #742F46;
    transform: translateY(4px);
    box-shadow: 0 2px #999;
}

.next-step-btn-available{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: #006600;
    color: white;
    box-shadow: 0 6px #999;
}

.next-step-btn-available:hover{
    background-color: #003D00;
}

.next-step-btn-available:active{
    background-color: #003D00;
    transform: translateY(4px);
    box-shadow: 0 2px #999;
}

.prev-step-btn-unavailable{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: rgb(145, 145, 145);
    opacity: 0.75;
    box-shadow: 0 6px #999;
}

.next-step-btn-unavailable{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: rgb(145, 145, 145);
    opacity: 0.75;
    box-shadow: 0 6px #999;
}

.meal-info.instructions{
    position: relative;
    height: fit-content;
    width: 60%;
    /*container-type: size;*/
}
/*.help-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;
    min-height: 150px;
    //height: auto;
}*/