.fridge-plate-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fridge-plate-page h1{
    padding: 10px;
    margin: 10px;
}

.fridge-plate-page h2{
    padding: 10px;
    margin: 10px;
}