.image-uploader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.image-uploader h2{
    font-size: 24px;
    font-weight: 600;
    color: rgb(46, 46, 46);
    text-align: center;
}

.image-uploader img{
    min-width: 45%;
    max-width: 500px;
    border: 5px solid black;
}

.image-uploader .analyze-btn{
    padding: 10px;
    min-width: 100px;
    max-width: 100px;
    background-color: rgb(70, 70, 255);
    border: none;
    border-radius: 8px;
    color: white;
    margin: 20px;
}